.about_medicalpro_row {
  background: url(../images/pages/about/about.png) repeat scroll 0 0 #0889d6;
  padding: 80px 0 125px;

  .titleRow {
    color: #fff;

    h2:after {
      background: #fff;
    }
  }

  &.about_medicalpro_row2 {
    background-color: #455263;
  }
}

.about_medicalpro {
  padding-top: 30px;
  text-align: center;

  .inner {
    background: #fff;
  }

  .img img {
    width: 100%;
  }

  .content {
    padding: 40px 45px 55px;
    text-align: left;

    h3 {
      font-family: $default-font-1;
      font-size: 21px;
      line-height: 36px;
      margin: 0 0 25px;
      color: #404d5f;
      text-transform: uppercase;
    }

    p {
      font-family: $default-font-2;
      line-height: 24px;
      font-size: 16px;
      color: #8595b1;
      margin-bottom: 23px;
      font-weight: 400;
    }
  }
}

.department_tab {
  display: table;
  border: none;
  margin: 0 auto;

  li {
    a {
      margin: 0;
      text-transform: uppercase;
      border-radius: 0;
      border: 1px solid transparent;
      line-height: 42px;
      padding: 0 20px;
      font-family: $default-font-2;
      font-weight: bold;
      color: #fff;

      &:hover {
        color: $default-color;
        border: none;
        background: #fff;
        border: 1px solid  #fff;
      }
    }

    &.active a {
      color: $default-color;
      border: 1px solid #fff;
    }
  }
}

.about_medicalpro_N_form {
  background: #f4f9ff;

  .container_area {
    background: url(../images/pages/about/about3.png) no-repeat scroll 434px bottom transparent;

    .trusted_area {
      padding: 80px 0 85px;

      h4 {
        text-transform: uppercase;
        font-family: $default-font-1;
        color: #404d5f;
        margin: 0;
        line-height: 1.2;
      }

      h2 {
        text-transform: uppercase;
        font-family: $default-font-1;
        color: #404d5f;
        margin: 0 0 30px;
        line-height: 1.2;
        font-weight: bold;
      }

      p {
        font-family: $default-font-2;
        font-size: 16px;
        color: #8595b1;
        line-height: 24px;
        margin-bottom: 30px;
      }

      ul li {
        padding-left: 22px;
        background: url(../images/bullet.png) no-repeat scroll 0 0 transparent;
        font-family: $default-font-1;
        font-weight: bold;
        font-size: 16px;
        color: #404d5f;
        margin-bottom: 15px;
      }
    }

    .form_area {
      margin-top: -167px;
      float: right;
    }
  }
}

.appointment_home_form2 {
  .title {
    font-size: 48px;
    font-family: $default-font-1;
    line-height: 36px;
    font-weight: bold;
    color: #fff;
    margin: 0;
  }

  .form_footer {
    padding: 30px 0;

    a {
      font-family: $default-font-1;
      font-weight: bold;
      font-size: 30px;
      color: #404d5f;

      img {
        margin-right: 10px;
      }
    }
  }

  .form_inputs {
    input[type="submit"] {
      background: $default-reverse-color;
      border: none;
      border-radius: 0;
      color: #fff;
      font-family: $default-font-2;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 55px;
      padding: 0;
      height: auto;
      -webkit-transition: all 300ms ease-in-out 0s;
      transition: all 300ms ease-in-out 0s;

      &:hover, &:focus {
        background: $default-color;
      }
    }

    .input_row {
      background: #57beee;
      border-bottom: 1px solid  #48a8d4;
      padding: 22px 30px;

      label {
        color: #fff;
        font-family: $default-font-2;
        font-weight: bold;
        line-height: 1;
        margin: 0;
        text-transform: uppercase;
      }

      .form-control {
        padding: 0;
        background: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        font-family: $default-font-2;
        color: lighten($default-color, 55%);
        font-size: 16px;
        line-height: 30px;
        font-weight: 400;
        height: auto;

        &::-moz-placeholder {
          color: #347fa2;
          opacity: 1;
        }

        &:-ms-input-placeholder, &::-webkit-input-placeholder {
          color: #347fa2;
        }
      }

      textarea.form-control {
        resize: none;
        height: 80px;
      }
    }
  }
}

.who_weR {
  padding: 50px 15px 20px;

  .media {
    padding-top: 20px;

    .media-left {
      padding-right: 0;

      a {
        display: block;
        width: 263px;
        padding-right: 30px;

        img {
          width: 100%;
        }
      }
    }

    .media-body p {
      font-family: $default-font-2;
      font-size: 16px;
      line-height: 23px;
      color: #8595b1;
      font-weight: 400;
      margin-bottom: 0;
      margin-top: -7px;
    }
  }
}

.our_depts_list {
  padding: 50px 15px 20px;

  .depts_list li a {
    line-height: 36px;
    display: block;
    font-family: $default-font-2;
    font-weight: bold;
    color: $default-color;
    text-transform: uppercase;

    i {
      margin-right: 8px;
    }

    &:hover {
      color: #404d5f;
    }
  }
}
