
.dorctors_row {
  margin-bottom: 40px;
}

.doctor_details {
  padding: 50px 0 120px;

  .doctor_about {
    .image {
      margin-bottom: 40px;
    }

    p {
      font-family: $default-font-2;
      font-size: 16px;
      font-weight: normal;
      color: #8595b1;
      line-height: 24px;
      margin-bottom: 0;
    }

    .heading {
      margin-bottom: 20px;

      h3 {
        text-transform: uppercase;
        margin: 10px 0 5px;
        font-family: $default-font-1;
        font-weight: bold;
        color: #404d5f;
      }

      h5 {
        text-transform: capitalize;
        font-style: italic;
        color: $default-color;
        margin: 0;
        font-family: $default-font-1;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }

  .speciality ul li {
    font-family: $default-font-2;
    font-weight: bold;
    line-height: 26px;
    margin: 0;
    color: #404d5f;
    text-transform: uppercase;

    i {
      margin-right: 7px;
    }
  }
}

.doctor_cv {
  padding: 70px 0;
  background: #e5f0fb;

  .cv_widget {
    min-height: 200px;
    font-family: $default-font-2;
    font-size: 16px;
    font-weight: normal;
    color: #8595b1;
    line-height: 24px;

    .heading {
      font-family: $default-font-1;
      font-weight: bold;
      color: #404d5f;
      margin: 0;
      padding-bottom: 20px;
      text-transform: uppercase;

      &:after {
        content: '';
        width: 80px;
        height: 1px;
        background: $default-color;
        display: block;
        margin: 20px 0 0;
      }
    }
  }
}
