
.quick_blocks_row {
  position: relative;
  padding-bottom: 60px;
  &:before {
    content: '';
    width: 100%;
    display: block;
    height: 110px;
    position: absolute;
    background: #fff;
    bottom: 0;
  }

  &.quick_blocks_row2 {
    background: #fff;
    padding: 40px 0;

    &:before {
      display: none;
    }
  }

  &.quick_blocks_row_home2 {
    margin-top: -110px;
    z-index: 2;
  }
}

.quick_block {
  .inner {
    padding: 30px;
    .heading {
      text-transform: uppercase;
      color: #fff;

      h5 {
        margin: 0;
        font-family: $default-font-1;
        font-weight: 300;
        font-size: 14px;
        line-height: 1;
      }

      h3 {
        margin-top: 5px;
        margin-bottom: 20px;
        font-family: $default-font-1;
        font-weight: bold;
        font-size: 21px;
        line-height: 1;
      }
    }

    p {
      margin-bottom: 25px;
      line-height: 24px;
      font-size: 15px;
      font-family: $default-font-1;
      color: #d2f0ff;
      font-weight: 300;
    }

    a {
      text-transform: uppercase;
      color: #fff;
      font-family: $default-font-2;
      font-weight: bold;
      display: inline-block;

      &:after {
        width: 100%;
        height: 1px;
        background: #fff;
        content: '';
        display: block;
        margin: 5px 0 0;
        -webkit-transition: all 300ms ease-in-out 0s;
        transition: all 300ms ease-in-out 0s;
      }
    }

    &:hover a:after {
      width: 0;
    }
  }

  &.emmergency .inner {
    background: url(../images/pages/quick-blocks/1.png) no-repeat scroll right bottom #43b9f6;
  }

  &.branches .inner {
    background: url(../images/pages/quick-blocks/2.png) no-repeat scroll right bottom #6686ff;

    p {
      color: #cfd9fe;
    }
  }

  &.bill_payments .inner {
    background: url(../images/pages/quick-blocks/3.png) no-repeat scroll right bottom #9878ff;

    p {
      color: #dacfff;
    }
  }
}

/*----------------------------------------------------------------*/

.testimonial_section {
  background: url(../images/pages/testimonial/1.png) no-repeat scroll right bottom #e0eeff;
  padding-top: 90px;
  padding-bottom: 90px;
  height: 741px;
  position: inherit;
  z-index: 2;

  &:before {
    position: absolute;
    width: 30%;
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    background: #e0eeff;
  }

  .inner {
    position: relative;
  }

  .testimonial_slider {
    border: none;
    background: none;
    padding-right: 40px;

    .testi_content .inner {
      .postText {
        background: $default-color;
        font-size: 21px;
        font-family: $default-font-1;
        font-style: italic;
        line-height: 36px;
        padding: 30px 37px;

        &:after {
          background-image: url(../images/pages/testimonial/3.png);
          left: 45px;
        }
      }

      .authorMeta .media-left img {
        width: 70px;
        height: 64px;
      }
    }

    .flex-control-nav li a {
      width: 12px;
      height: 12px;
      background: #9fadbd;

      &.flex-active {
        background: $default-color;
      }
    }
  }
}
